.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100vw;
    height: 100vh;

    #logo{
        width: 87.69%;
        height: 14.28%;
       background-image: url('../../public/image/Group\ 89.png');
       background-repeat: no-repeat;
       background-size: contain;

    }
}